# Ignore all .env files except .env.example
.env*
!.env.example

# Ignore log files
logs/*

# Executable files
*.exe
*.dll
*.so
*.dylib
*.out

# IDE and editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Cache and temporary files
*.tmp
*.swp
*.DS_Store

# Go build directories
bin/
vendor/

# Docker and container files
docker-compose.override.yml

# Configuration and secret files
*.key
*.pem
